
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>#1 Proifilim</h2>
<h2>#2 Tüm Başlıklarda Paging</h2>
<h2>#3 Mesajlarda Session</h2>
<h2>#4 Oturumun Yönetiminin Mimariye Taşınması</h2>
<h2>#5 Token Kullanımı</h2>

